# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
tmp*/

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mpi
bin/

# Extra libraries
LIB/libstring_f/.deps/
LIB/libstring_f/Makefile
LIB/libstring_f/config.log
LIB/libstring_f/config.status
LIB/libstring_f/include/
LIB/libxc/Makefile
LIB/libxc/config.h
LIB/libxc/config.log
LIB/libxc/config.status
LIB/libxc/include/
LIB/libxc/src/.deps/
LIB/libxc/src/Makefile
LIB/libxc/stamp-h1
LIB/libxc/testsuite/.deps/
LIB/libxc/testsuite/Makefile
LIB/*/autom4te.cache
